@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:grey;
    font-size: 0.8rem;
}

header{
    padding:30px;
    background:black;
    height: 70px;
}


.employee_navbar {
    width: 240px;
    background: #02375a;
    position: fixed; /* Fix the sidebar in place */
    height: 100vh;  /* Make the sidebar take full screen height */
    top: 0;
    left: 0; /* Ensure it is on the left side of the screen */
    padding: 20px 0px; /* Adjust padding for aesthetics */
    transition: all 1s;
    z-index: 1000;  /* Ensure it stays on top of other elements */
}

ul {
    padding: 0;
    margin: 0px 0;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: block;
    border-radius: 0px;
    padding: 10px 20px 10px 40px;
}

ul li a:hover {
    background: rgb(38, 5, 128);
}

ul li a.active {
    background: #044a68;
}

.logo{
    margin: 10px 60px;
    width:200px;
}

.main{
    display: flex;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    
    margin-left:auto
}

.mdb-table td {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem; /* Adjust this size to make text smaller */
  }

  .custom-table {
    border-radius: 5px !important; /* Rounded corners for the table */
    overflow: hidden; /* Ensures rounded corners are applied to inner elements */
  }
  
  /* .custom-table th, .custom-table td {
    border-radius: 15px !important; 
  }*/

  .MDBBtn:active {
    transform: scale(1) !important; /* Prevent scaling */
    padding: 0.5rem 1rem !important; /* Adjust padding if needed */
  }

  .no-scale:active {
    transform: scale(1) !important;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;  /* Adjust padding for balanced sizing */
    min-width: 40px;  /* Ensure uniform button size */
    height: 40px;  /* Keep buttons square */
    border: none;  /* Remove default border */
    border-radius: 5px;  /* Optional: rounded corners for better aesthetics */
}

button .material-symbols-outlined {
    font-size: 20px;  /* Standardize icon size */
}

.header-content {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    /* Optional padding for spacing */
    color: white; /* White font color */
    font-size: 16px; /* Adjust font size as needed */
     /* Optional: Change header background color */
  }
  
  .header-content span {
    font-weight: bold; /* Optional: Make the text bold */
  }


  .table-container {
    width: 90%;  /* Set width to 80% of the parent */
    margin: auto; /* Center horizontally */
}